:root {
    --font-standard: 2rem;
    --font-header: 4rem;
    --transition-standard: 0.2s ease, padding 0.8s linear;
    --background: #1A1A1D;
    --text-main: white;
    --text-secondary: #4E4E50;
    --theme-main: #C3073F;
    --theme-secondary: #950740;
    --theme-tertiary: #6F2232;
}

@media only screen and (max-width: 1024px) {
    :root {
        --font-paragraph: 1rem;
        --font-standard: 1.5rem;
        --font-header: 3rem;
    }
}

@media only screen and (max-width: 420px) {
    :root {
        --font-paragraph: 0.75rem;
        --font-standard: 1rem;
        --font-header: 2rem;
    }
}

canvas {
    position: absolute;
    width: 100vh;
    height: 100vw;
}

body {
    background-color: var(--background);
    color: var(--text-main);
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 80%;
}

h2, p, img {
    z-index: 1;
    background-color: var(--background);
}

h2 {
    font-size: var(--font-header);
}

.highlight-text {
    color: var(--theme-secondary);
    font-weight: bold;
}

/* START Header */

header {
    position: absolute;
    height: 100vh;
}

header nav {
    position: absolute;
    z-index: 2;
    background-color: var(--background);
    border-top: solid 2px var(--theme-secondary);
    border-right: solid 2px var(--theme-secondary);
    border-bottom: solid 2px var(--theme-secondary);
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 30%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: var(--transition-standard);
}

header nav:hover {
    border-top: solid 2px var(--theme-main);
    border-right: solid 2px var(--theme-main);
    border-bottom: solid 2px var(--theme-main);
}

.hamburger {
    position: absolute;
    display: none;
    color: var(--theme-secondary);
    font-size: var(--font-standard);
    margin-left: 10px;
    margin-top: 20px;
}

@media only screen and (max-width: 1024px) {
    header {
        display: none;
    }
    .hamburger {
        display: block;
    }
}

nav ul {
    padding: 10px 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    font-size: var(--font-standard);
    font-weight: bolder;
    margin-bottom: var(--font-standard);
}

nav li span {
    text-decoration: none;
    color: var(--theme-tertiary);
    transition: var(--transition-standard);
}

nav li span:hover {
    color: var(--theme-main);
    cursor: pointer;
}

/* END Header */

/* START About */

.profilePicture {
    border-radius: 50%;
    border: solid 4px var(--theme-secondary);
    transition: var(--transition-standard);
}

.profilePicture:hover {
    border: solid 4px var(--theme-main);
}

.bio-text {
    text-align: justify;
    width: 700px;
    color: var(--text-secondary);
    transition: var(--transition-standard);
}

.bio-text:hover {
    color: var(--text-main);
}

@media only screen and (max-width: 1024px) {
    .profilePicture {
        width: 300px;
    }
    .bio-text {
        text-align: justify;
        width: 450px;
        color: var(--text-secondary);
        transition: var(--transition-standard);
        font-size: var(--font-paragraph);
    }
}

@media only screen and (max-width: 420px) {
    .profilePicture {
        width: 200px;
    }
    .bio-text {
        text-align: justify;
        width: 300px;
        color: var(--text-secondary);
        transition: var(--transition-standard);
        font-size: var(--font-paragraph);
    }
}

/* END About */

/* START Contact */
form {
    z-index: 1;
}
/* END Contact */

/* START Footer */

footer {
    position: absolute;
    z-index: 2;
    margin: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: var(--transition-standard);
}

footer ul {
    list-style-type: none;
}

footer li a {
    color: var(--theme-tertiary);
    font-size: var(--font-header);
    transition: var(--transition-standard);
}

footer li a:hover {
    color: var(--theme-main);
}

@media only screen and (min-width: 1024px) {
    footer {
        top: 85%;
    }
}

@media only screen and (max-width: 1024px) {
    footer {
        position: fixed;
        bottom: 0%;
        width: 100%;
    }
    footer ul {
        text-align: center;
        padding-inline-start: 0px;
    }
    footer ul li {
        display: inline;
        margin-left: 20px;
        margin-right: 20px;
    }
}

/* END Footer */